.collection img {
  width: 200px;
  padding: 0 10px 0 0;
}
.collection .card-item {
  background: #555;
  margin: 5px;
  display: flex;
}
.movie-details {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: white;
  padding: 10px;
}
.movie-title {
  font-size: 35px;
  padding: 5px 0;
}
.movie-description {
  font-size: 17px;
  padding: 10px 0;
}
.genre {
  display: flex;
  font-size: 15px;
  padding: 10px 0;
}
.genre-name {
  position: relative;
}
.genre-name::after {
  content: "|";
  padding: 0 10px;
}
.genre-name:last-child::after {
  content: "";
}
.button {
  cursor: pointer;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 15px;
  background-color: coral;
  border-radius: 20px;
  color: black;
  width: 75%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
