.search-space {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.results-movie {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  justify-content: space-around;
  padding-bottom: 10px;
}
.input {
  border-radius: 20px;
  height: 30px;
  font-size: 25px;
  text-align: center;
}
.search-button {
  cursor: pointer;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 15px;
  background-color: darkorange;
  border-radius: 20px;
  color: black;
  width: 30%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  padding: 8px;
}
